useDynLib(GSReg,.registration = TRUE)

export(	GSReg.GeneSets.EVA,
		GSReg.GeneSets.DIRAC,
    GSReg.kendall.tau.distance.restricted,
    GSReg.kendall.tau.distance.template,
    GSReg.kendall.tau.distance,
    GSReg.kendall.tau.distance.Wrap,
    GSReg.GeneSets.EVA.Wrap,
		GSReg.overlapJunction,
		GSReg.SEVA)
